@mixin boton {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    line-height: 1.15;
    font-size: 16px;
    text-decoration: none;   
}
.btn--info{
    @include boton;
    background: #1de9b6;
    &:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
}
.btn--contact{
    @include boton;
    margin-left: auto;
    background: rgb(158, 158, 158);
    &:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #585858;
    }
}
.enviar{
    text-align: center;
}